[Desktop Entry]
Type=Service
Icon=
ServiceTypes=PlasmaNetworkManagement/VpnUiPlugin
X-KDE-Library=plasmanetworkmanagement_wireguardui
X-NetworkManager-Services=org.freedesktop.NetworkManager.wireguard
X-KDE-PluginInfo-Author=Lukáš Tinkl
X-KDE-PluginInfo-Email=lukas@kde.org
X-KDE-PluginInfo-Name=plasmanetworkmanagement_wireguardui
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=VPNService
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Wireguard
Name[ar]=Wireguard
Name[bg]=Wireguard
Name[bs]=Wireguard
Name[ca]=Wireguard
Name[ca@valencia]=Wireguard
Name[cs]=Wireguard
Name[da]=Wireguard
Name[de]=Wireguard
Name[el]=Wireguard
Name[en_GB]=Wireguard
Name[es]=Wireguard
Name[et]=Wireguard
Name[eu]=Wireguard
Name[fi]=Wireguard
Name[fr]=Wireguard
Name[gl]=Wireguard
Name[he]=Wireguard
Name[hu]=Wireguard
Name[ia]=Wireguard
Name[it]=Wireguard
Name[ko]=Wireguard
Name[lt]=Wireguard
Name[nb]=Wireguard
Name[nds]=Wireguard
Name[nl]=Wireguard
Name[nn]=Wireguard
Name[pa]=Wireguard
Name[pl]=Wireguard
Name[pt]=Wireguard
Name[pt_BR]=Wireguard
Name[ro]=Wireguard
Name[ru]=Wireguard
Name[sk]=Wireguard
Name[sl]=Wireguard
Name[sr]=ОпенВПН
Name[sr@ijekavianlatin]=Wireguard
Name[sr@latin]=Wireguard
Name[sv]=Wireguard
Name[tr]=Wireguard
Name[ug]=Wireguard
Name[uk]=Wireguard
Name[x-test]=xxWireguardxx
Name[zh_CN]=Wireguard
Name[zh_TW]=Wireguard
Comment=Compatible with the Wireguard server
Comment[ar]=متوافق مع خادوم Wireguard
Comment[ca]=Compatible amb el servidor Wireguard
Comment[ca@valencia]=Compatible amb el servidor Wireguard
Comment[da]=Kompatibel med Wireguard-serveren
Comment[de]=Mit dem Wireguard-Server kompatibel
Comment[el]=Συμβατό με τον διακομιστή Wireguard
Comment[en_GB]=Compatible with the Wireguard server
Comment[es]=Compatible con el servidor de Wireguard
Comment[et]=Ühildub Wireguard-serveritega
Comment[eu]=Wireguard zerbitzariarekin bateragarria
Comment[fi]=Yhteensopiva Wireguard-palvelimen kanssa
Comment[fr]=Compatible avec le serveur Wireguard
Comment[gl]=Compatíbel con servidores Wireguard.
Comment[he]=תואימות עם שרתי Wireguard
Comment[hu]=Kompatibilis az Wireguard kiszolgálóval
Comment[it]=Compatibile con il server Wireguard
Comment[ko]=Wireguard 서버와 호환됨
Comment[lt]=Suderinamas su Wireguard serveriu
Comment[nl]=Compatibel met de Wireguard-server
Comment[nn]=Kompatibel med Wireguard-tenaren
Comment[pa]=Wireguard ਸਰਵਰ ਲਈ ਢੁਕਵਾਂ
Comment[pl]=Zgodny z serwerem Wireguard
Comment[pt]=Compatível com o servidor Wireguard
Comment[pt_BR]=Compatível com o servidor Wireguard
Comment[ru]=Совместимая с сервером Wireguard
Comment[sk]=Kompatibilné s Wireguard serverom
Comment[sl]=Združljiv s strežnikom Wireguard
Comment[sr]=Сагласно са сервером ОпенВПН‑а
Comment[sr@ijekavian]=Сагласно са сервером ОпенВПН‑а
Comment[sr@ijekavianlatin]=Saglasno sa serverom Wireguard‑a
Comment[sr@latin]=Saglasno sa serverom Wireguard‑a
Comment[sv]=Kompatibel med Wireguard-server
Comment[tr]=Wireguard sunucusuyla uyumlu
Comment[uk]=Сумісний із сервером Wireguard
Comment[x-test]=xxCompatible with the Wireguard serverxx
Comment[zh_CN]=兼容 Wireguard 服务器
Comment[zh_TW]=與 Wireguard 伺服器相容

