[Desktop Entry]
Type=Service
Icon=
ServiceTypes=PlasmaNetworkManagement/VpnUiPlugin
X-KDE-Library=plasmanetworkmanagement_wireguardui
X-NetworkManager-Services=org.freedesktop.NetworkManager.wireguard
X-KDE-PluginInfo-Author=Lukáš Tinkl
X-KDE-PluginInfo-Email=lukas@kde.org
X-KDE-PluginInfo-Name=plasmanetworkmanagement_wireguardui
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=VPNService
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=WireGuard
Name[ar]=WireGuard
Name[bg]=WireGuard
Name[bs]=WireGuard
Name[ca]=WireGuard
Name[ca@valencia]=WireGuard
Name[cs]=WireGuard
Name[da]=WireGuard
Name[de]=WireGuard
Name[el]=WireGuard
Name[en_GB]=WireGuard
Name[es]=WireGuard
Name[et]=WireGuard
Name[eu]=WireGuard
Name[fi]=WireGuard
Name[fr]=WireGuard
Name[gl]=WireGuard
Name[he]=WireGuard
Name[hu]=WireGuard
Name[ia]=WireGuard
Name[it]=WireGuard
Name[ko]=WireGuard
Name[lt]=WireGuard
Name[nb]=WireGuard
Name[nds]=WireGuard
Name[nl]=WireGuard
Name[nn]=WireGuard
Name[pa]=WireGuard
Name[pl]=WireGuard
Name[pt]=WireGuard
Name[pt_BR]=WireGuard
Name[ro]=WireGuard
Name[ru]=WireGuard
Name[sk]=WireGuard
Name[sl]=WireGuard
Name[sr]=ОпенВПН
Name[sr@ijekavianlatin]=WireGuard
Name[sr@latin]=WireGuard
Name[sv]=WireGuard
Name[tr]=WireGuard
Name[ug]=WireGuard
Name[uk]=WireGuard
Name[x-test]=xxWireGuardxx
Name[zh_CN]=WireGuard
Name[zh_TW]=WireGuard
Comment=Compatible with the WireGuard server
Comment[ar]=متوافق مع خادوم WireGuard
Comment[ca]=Compatible amb el servidor WireGuard
Comment[ca@valencia]=Compatible amb el servidor WireGuard
Comment[da]=Kompatibel med WireGuard-serveren
Comment[de]=Mit dem WireGuard-Server kompatibel
Comment[el]=Συμβατό με τον διακομιστή WireGuard
Comment[en_GB]=Compatible with the WireGuard server
Comment[es]=Compatible con el servidor de WireGuard
Comment[et]=Ühildub WireGuard-serveritega
Comment[eu]=WireGuard zerbitzariarekin bateragarria
Comment[fi]=Yhteensopiva WireGuard-palvelimen kanssa
Comment[fr]=Compatible avec le serveur WireGuard
Comment[gl]=Compatíbel con servidores WireGuard.
Comment[he]=תואימות עם שרתי WireGuard
Comment[hu]=Kompatibilis az WireGuard kiszolgálóval
Comment[it]=Compatibile con il server WireGuard
Comment[ko]=WireGuard 서버와 호환됨
Comment[lt]=Suderinamas su WireGuard serveriu
Comment[nl]=Compatibel met de WireGuard-server
Comment[nn]=Kompatibel med WireGuard-tenaren
Comment[pa]=WireGuard ਸਰਵਰ ਲਈ ਢੁਕਵਾਂ
Comment[pl]=Zgodny z serwerem WireGuard
Comment[pt]=Compatível com o servidor WireGuard
Comment[pt_BR]=Compatível com o servidor WireGuard
Comment[ru]=Совместимая с сервером WireGuard
Comment[sk]=Kompatibilné s WireGuard serverom
Comment[sl]=Združljiv s strežnikom WireGuard
Comment[sr]=Сагласно са сервером ОпенВПН‑а
Comment[sr@ijekavian]=Сагласно са сервером ОпенВПН‑а
Comment[sr@ijekavianlatin]=Saglasno sa serverom WireGuard‑a
Comment[sr@latin]=Saglasno sa serverom WireGuard‑a
Comment[sv]=Kompatibel med WireGuard-server
Comment[tr]=WireGuard sunucusuyla uyumlu
Comment[uk]=Сумісний із сервером WireGuard
Comment[x-test]=xxCompatible with the WireGuard serverxx
Comment[zh_CN]=兼容 WireGuard 服务器
Comment[zh_TW]=與 WireGuard 伺服器相容

